<?xml version="1.0" encoding="utf-8" ?>
<emailTemplates>
  <emailTemplate id="Template1">
    <to>{!Data.Email}</to>
    <from>noreply@domain.com</from>
    <subject>Hello {!Data.Value1}{!Data.Value2}!</subject>
    <body>So many victimized {!Data.Value1} {!Data.Value2}s had to mean something.</body>
  </emailTemplate>
  <emailTemplate id="Template2">
    <to>{!Data.Email}</to>
    <from>noreply@domain.com</from>
    <subject>Hello {!Data.Value2}!</subject>
    <body>So many victimized {!Data.Value1}{!Data.Value2}{!Data.Value2}s had to mean something. {!Data.Secret}</body>
    <body>This is a test email body for .</body>
  </emailTemplate>
  <emailTemplate id="Template3">
    <to>{!Data.Email}</to>
    <from>noreply@domain.com</from>
    <subject>Hello {!Data.Value2}!</subject>
    <body>So many victimized {!Data.Value1}{!Data.Value2}{!Data.Value2}s had to mean something. {!Data.Secret} {!User.Value}.</body>
  </emailTemplate>
  <emailTemplate id="Template4">
    <to>{!Data.Email}</to>
    <from>noreply@domain.com</from>
    <subject>Hello {!Data.Value2}!</subject>
    <body>So many victimized {!Data.Value1} {!Data.Value2}s had to mean something. #{!.Author} #{!.Book}</body>
  </emailTemplate>
</emailTemplates>
